# ESP32-S3 Configuration
CONFIG_IDF_TARGET="esp32s3"

# Disable Bluetooth
CONFIG_BT_ENABLED=n

# Disable WiFi
CONFIG_ESP_WIFI_ENABLED=n

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000
