# Target Configuration
CONFIG_IDF_TARGET="esp32s3"

# TinyUSB Configuration
CONFIG_TINYUSB_ENABLED=y
CONFIG_TINYUSB_HID_ENABLED=y

# I2C Configuration
CONFIG_I2C_ENABLE_DEBUG_LOG=y

# NVS Configuration
CONFIG_NVS_ENCRYPTION=n

# FreeRTOS Configuration
CONFIG_FREERTOS_HZ=1000

# USB Configuration
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_UART=y
